* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.hr {
  border-top: .9px solid #212121;
  width: 90%;
  margin: 30px auto 0;
}